

  <%= form_for @task do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class:'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :details, class: 'form-label' %>
    <%= f.text_field :details, class:'form-control'  %>
  </div>
  <div class="mb-3 form-check">
    <%= f.check_box :completed, class: 'form-check-input' %>
    <%= f.label :completed, class: "form-check-label" %>
  </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
